@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;}

#test {
    margin-right: 0.625rem;
}

.carousel .item {
    height: 21.875rem;
  }
  
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 21.875rem;
    min-width: 67.5rem
}

.col {
    max-width: 29.375rem;
}

@media screen and (max-width: 35.9375rem) {
    #test {
        margin-bottom: 0.625rem;
        margin-top: 0.625rem;
    }
    
    .nav {
        text-align: center
    }
}