@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

#color {
    color: #deae31;
}

#color:hover {
    color: #deae31;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97999px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.51361px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.form-control {
    width: 200px;
}

.btn-outline-warning {
    border-color: #deae31;
    font-size: larger;
    top: 85%;
    margin-top: 10px;
}


.btn-outline-warning:hover {
    background-color: #deae31;
    border-color: #deae31;
    font-size: larger;
}

@media screen and (max-width: 35.9375rem) {
    #test {
        margin-bottom: 0.625rem;
        margin-top: 0.625rem;
    }
    
    .nav {
        text-align: center
    }
}